:root {
    --purple: #723EA3;
    --dark-grey: #2D3337;
    --ligth-grey: #C2C1C2;
    --black: #161A1D;
    --white: #F5F5F5;
    --segoe: "Segoe UI"
    
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*-- Styles Généraux --*/
body{
    background-color:var(--black);
    overflow-x:hidden;
}

.logo{
    width: 8vw;
    height: 3vh;
    margin-left: 4vw;
}

.container-fluid{
    background-color:var(--black);
}


.nav-link{
    color: var(--white);
    margin-left: 3vw;                                                                                                                                                                                                                                                                                                                                           
}


.nav-text{
    font-size: xx-large;
    color: var(--white);
    text-decoration: none;
    font-weight: 600;
}

a{
    text-decoration:none ;
    color:var(--black);
}
/*-- Section Hero --*/

.dl{
    font-weight: 700;
    color: var(--white);
    background-color: var(--purple);
    padding-left:1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 40px;
    font-size: 1vw;
    text-align: center;
}

.dl:hover{
    font-weight: 700;
    color: var(--purple);
    background-color: var(--white);
    padding-left:1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 40px;
    font-size: 1vw;
    text-align: center;
}

.decouvrez{
    font-weight: 500;
    color: var(--white);
    font-size: 2vw;
}

.mutek{
    font-weight: 800;
    font-size: 2vw;
    color: var(--white);
}

.tirez{
    color: var(--white);
}

.cell{
    position: relative;
    background-color: var(--white);
    height: 70vh;
    width: 100%;
    border-radius: 40px;
    align-items: flex-end;
    aspect-ratio: 5/9;
    border: solid 5px var(--black);
    
}

.appcell {
    border-radius: 10px;
    box-shadow: 0px 0px 700px 10px var(--purple);
}

.fonct{
    font-weight: 500;
    color: var(--white);
    font-size: 2vw;
}

.os{
    color: var(--white);
    background-color: var(--purple);
    padding-left:1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 40px;
    font-size: 1vw;
    text-align: center;    
}

.og{
    color: var(--white);
    background-color: var(--purple);
    padding-left:1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 40px;
    font-size: 1vw;
    text-align: center;
}

.oe{
    color: var(--white);
    background-color: var(--purple);
    padding-left:1vw;
    padding-right: 1vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    border-radius: 40px;
    font-size: 1vw;
    text-align: center;
}

.prix{
    font-size: 1.8vw;
    font-weight: 700;
}

.tarif{
    font-weight: 500;
    color: var(--white);
    font-size: 2vw;  
}

.texte_fonct{
    color: var(--white);
}

.navbar{
--bs-navbar-padding-y:0;
background-color: var(--purple);
}

.nav-link:hover{
    color: var(--white);
    text-decoration:underline;
}



.scrollspy-example{
    opacity: 0;
}



.titre {
    text-align:center ;
    margin-top: 5vh;
    color: var(--white);
}

.texte_fonct{
    text-align: center;
}

.boite_fonct{
padding: 15px;
}

.footer{
    color:var(--white);
    padding: 1rem;
    margin-top: 1rem;
    background-color:var(--purple);
    width: 100%;
}

a[href*="https://github.com/RaphBarniques/P1-Mutek"]
   {text-decoration: none;
   color: var(--blanc);
};

.margin_cote{
    margin-left:50px;
    margin-right: 50px;
}

a[href*="https://github.com/RaphBarniques/P1-Mutek"]:hover
   {text-decoration: none;
   color: var(--ligth-grey);
};

.card-img-top{
    width: 25px;
}

.bi-chat-square-quote{
    position: absolute;
    top: -42px;

}

.btn-primary{
    position: relative;
    background-color: var(--purple);
}

.info{
    background-color: rgba(255, 255, 255, 0.25); 
    width: 35vw;
}


.navbar{
    background-color: var(--purple);
}

.accordion-button:not(.collapsed){
    background-color: var(--purple);
    color: var(--white);
}

.choix-tarif{
text-align: center;
}

.prix{
    text-align: center;
    }
